@model Task_Mangement.Models.DownloadReportViewModel

<style>
	#projectDropdownContainer span.text-danger {
		display: none;
	}

	#userDropdownContainer span.text-danger {
		display: none;
	}
</style>
<form method-post asp-action="DownloadReport">
	<div class="border p-3">
		<div asp-validation-summary="ModelOnly" class="text-danger"></div>

		<div class="form-group row">
			<h2 class="pl-3">Download Report</h2>
		</div>


		<div class="row">
			<div class="col-8">

				<div class="form-group row">
					<div class="col-4">
						<label asp-for="IsUserWiseReport">IsUserWiseReport</label>
					</div>
					<div class="col-8">
						<input type="checkbox" asp-for="IsUserWiseReport" class="form-check-input" id="isUserWiseReportCheckbox">
						<span asp-validation-for="IsUserWiseReport" class="text-danger"></span>
					</div>
				</div>
				<br />
				<div class="form-group row" id="userDropdownContainer" style="display:none;">
					<div class="col-4">
						@Html.Label("User")
					</div>
					<div class="col-8">
						@Html.DropDownListFor(x => x.UserId, new SelectList(ViewBag.UserList, "Value", "Text"), htmlAttributes: new { @class = "form-select", @aria_label = "Default select example" })
						<span asp-validation-for="UserId" class="text-danger"></span>
					</div>
				</div>
				<div class="form-group row" id="projectDropdownContainer" style="display:none;">
					<div class="col-4">
						@Html.Label("Project")
					</div>
					<div class="col-8">
						@Html.DropDownListFor(x => x.ProjectId, new SelectList(ViewBag.ProjectList, "Value", "Text"), htmlAttributes: new { @class = "form-select", @aria_label = "Default select example" })
						<span asp-validation-for="ProjectId" class="text-danger"></span>
					</div>
				</div>
				<br />
				<div class="form-group row">
					<div class="col-4">
						<label asp-for="FromDate">From Date</label>
					</div>
					<div class="col-8">
						<input asp-for="FromDate" class="form-control" type="date" />
						@* <span asp-validation-for="ProjectStartDate" class="alert-danger"></span> *@
					</div>
				</div>
				<br />
				<div class="form-group row">
					<div class="col-4">
						<label asp-for="ToDate">To Date</label>
					</div>
					<div class="col-8">
						<input asp-for="ToDate" class="form-control" type="date" />
						@* <span asp-validation-for="ProjectStartDate" class="alert-danger"></span> *@
					</div>
				</div>
				<div class="form-group row">
				</div>
				<br />

				<div class="button-container">

					<input type="submit" id="btn" value="Download" />

				</div>
			</div>
			<div class="col-4">
			</div>

		</div>
	</div>

</form>

@section scripts {

	<script>
		$(document).ready(function () {

				 function toggleDropdowns()
					 {
						 if($('#isUserWiseReportCheckbox').is(':checked'))
							 {
								 $('#userDropdownContainer').show();
								 $('#projectDropdownContainer').hide();
							 }
							 else
							 {
								 $('#userDropdownContainer').hide();
								 $('#projectDropdownContainer').show();
							 }
					 }
					 function validateUserDropdown()
					 {
						 if ($('#userDropdownContainer').is(':visible') && !$('#userDropdownContainer select').val())
						 {
							 $('#userDropdownContainer select').addClass('is-invalid');
							 return false;
						 }
						 else
						 {
							 $('#userDropdownContainer select').removeClass('is-invalid');
							  return true;
						}
					 }
					 function validateProjectDropdown()
					 {
						 if ($('#projectDropdownContainer').is(':visible') && !$('#projectDropdownContainer select').val())
						 {
							 $('#projectDropdownContainer select').addClass('is-invalid');
							 return false;
						 } else {
							 $('#projectDropdownContainer select').removeClass('is-invalid');
							 return true;
						 }
					 }
					 $('#isUserWiseReportCheckbox').change(function ()
					 {
						 toggleDropdowns();
					 });

					 $('select').change(function() {
						 validateUserDropdown();
						 validateProjectDropdown();
					 });

					 $('#btn').click(function(event) {

						 var isValid = true;
						 isValid = validateUserDropdown() && isValid;
						 isValid = validateProjectDropdown() && isValid;
						 if (!isValid)
						 {
							 event.preventDefault();
						 }
					 });
					 function validateProjectDropdown() {
						 var projectId = $('#ProjectId').val();
						 if (!projectId) {
							 $('#projectDropdownContainer span.text-danger').text('Please select a project').show();
							 return false;
						 }
							 $('#projectDropdownContainer span.text-danger').hide();
							 return true;
					 }
					 function validateUserDropdown() {
						 var userId = $('#UserId').val();
						 if (!userId) {
							 $('#userDropdownContainer span.text-danger').text('Please select a User').show();
							 return false;
						 }
							 $('#userDropdownContainer span.text-danger').hide();
							 return true;
					 }
				 toggleDropdowns();

		});
		
	

	</script>

}
