@model Task_Mangement.Models.LoginViewModel

@{
	Layout = null;
}
<link href="~/css/login.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" type="text/css" />
<div class="overlay">
	<!-- LOGN IN FORM by Omar Dsoky -->
	<form asp-action="LoginPost" asp-controller="Project" method="post">
		<!--   con = Container  for items in the form-->
		<div class="con">
			<!--     Start  header Content  -->
			<header class="head-form">
				<h2>Log In</h2>
				<!--     A welcome message or an explanation of the login form -->
				<p>login here using your username and password</p>
			</header>
			<!--     End  header Content  -->
			<br>
			<div class="field-set">

				<!--   user name -->
				<span class="input-item">
					<i class="fa fa-user-circle"></i>
				</span>
				<!--   user name Input-->
				<input class="form-input" id="txt-input" type="text" placeholder="Email" asp-for="CompanyEmail" required>

				<br>

				<!--   Password -->

				<span class="input-item">
					<i class="fa fa-key"></i>
				</span>
				<!--   Password Input-->
				<input class="form-input" type="password" placeholder="Password" id="pwd" name="password" asp-for="Password" required>

				<!--      Show/hide password  -->
				<span>
					@* <i class="fa fa-eye" aria-hidden="true" type="button" id="eye"></i> *@
				</span>

				
				<br>
				<!--        buttons -->
				<!--      button LogIn -->
				<button class="log-in" type="submit"> Log In </button>
				 <div>
					<div style="color:red;">@ViewBag.message</div>
				 </div>
			</div>

			<!--   other buttons -->
			@*  <div class="other">
                <!--      Forgot Password button-->
                <button class="btn submits frgt-pass">Forgot Password</button>
                <!--     Sign Up button -->
                @* <button class="btn submits sign-up">
                    Sign Up
                    <!--         Sign Up font icon -->
                    <i class="fa fa-user-plus" aria-hidden="true"></i>
                </button> 
                <!--      End Other the Division -->
            </div>  *@

			<!--   End Conrainer  -->
		</div>

		<!-- End Form -->
	</form>
</div>

@section Scripts {
	@*  @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    } *@
	
	}
