@model List<Task_Mangement.Models.GetProjectIndex>
@using Newtonsoft.Json

@{
	ViewData["Title"] = "Index";
}



<p>
	<a asp-action="AddEditProject" class="btn btn-info w-40">Add Project</a>
</p>


<div id="jqxgrid"></div>
@section Scripts {
	<script type="text/javascript">
		$(document).ready(function () {
			// Prepare data source
			var source = {
				datatype: "json",
				localdata: @Html.Raw(JsonConvert.SerializeObject(Model)),
				datafields: [
					{ name: 'ProjectName', type: 'string' },
					{ name: 'ProjectStatus', type: 'string' },
					{ name: 'Id', type: 'int' },
				]
			};

			var dataAdapter = new $.jqx.dataAdapter(source);

			// Initialize jqxGrid
			$("#jqxgrid").jqxGrid({
				width: '100%',
				source: dataAdapter,
				pageable: true,
				autoheight: true,
				sortable: true,
				filterable: true,
				columns: [
					{ text: 'Project Name', datafield: 'ProjectName', width: '40%' },
					{ text: 'Project Status', datafield: 'ProjectStatus', width: '40%' },
					{
						text: 'Action', datafield: 'Id', width: '20%', cellsrenderer: function (row, columnfield, value, defaulthtml, columnproperties) { var url = '@Url.Action("AddEditProject")' + "?id=" + value; return `<div style="text-align: left; margin-left: 9px; margin-top: 9px; color: black;"> <a href="${url}"> <i class="fa-solid fa-pen" style="color: black;"></i> </a> </div>`; }
					}
				]
			});
		});
	</script>
}